<!DOCTYPE html>
<html ng-app="thinkster">
<head>
  <title>DjAngular</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view">
        <div class="well">
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint minus possimus id laborum nostrum velit nemo molestias, eligendi iusto aut fugit eveniet quaerat obcaecati, nihil, omnis suscipit excepturi inventore necessitatibus!</h1>
          <hr>
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum numquam animi, modi similique quae amet aperiam, voluptas reiciendis, quibusdam officia molestias. Reiciendis dolor quasi, molestias, eligendi quo omnis ullam unde!</h2>
          <hr>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus eius architecto veritatis adipisci natus quod voluptatum nisi commodi, illum accusamus id provident magni neque similique odio, sint mollitia delectus doloribus!</h3>
          <hr>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eius laudantium dicta inventore deleniti eligendi nisi doloribus ea, autem quisquam, nulla alias. Mollitia dolores sed expedita incidunt. Iste, consequatur, facere.</h4>
          <hr>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, facere vero recusandae exercitationem eos sint velit, nemo ipsum magnam placeat unde itaque, ad totam ducimus tenetur est sequi doloribus fuga.</h5>
          <hr>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit labore ratione voluptatibus odio adipisci iure ad voluptatum, aspernatur commodi nobis aliquam, earum omnis error, maiores qui eligendi obcaecati expedita beatae!</h6>
          <hr>
        </div>
      </div>
    </div>
  </div>

  {% include 'javascripts.html' %}
</body>
</html>
